<a href="https://colab.research.google.com/github/hitvrth/1234/blob/main/Lec_2_Control_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Different Control flows in python

In [ ]:
n = 4
if (n < 5):
    print("TRUE")
    print("IT is less than five")

TRUE
IT is less than five

In [ ]:
#write a code to print TRUE if n < = 11

In [ ]:
i = int(input("pls give a number: "))
print(i)
#dynamic input given to i

pls give a number: 12
12

In [ ]:
#take a number as input and print GT5
#if greater than 5

In [ ]:
n = 4
if (n < 5):
    print("TRUE")
    print("IT is less than five")
else:
    print("FALSE")

TRUE
IT is less than five

In [ ]:
#take an input no if less than five print LT5 else print GE5

In [ ]:
#Positive Negative zero

In [ ]:
#Mutually Exclusive Completely Exhaustive

incom=int(input("Enter a number:"))
if incom>10:
    print("intst is 4")
elif incom>=5 and incom<=10:
    print("intst is 2")
elif incom>=2 and incom<5:
    print("intst is 1")
else:
    print("intst is zero")

Enter a number:9
intst is 2

In [ ]:
# take salary as input
# print final amount
#slabs -upto 2 lakh - no tax
#2 lakh to 5 lakh - 10 percent tax
#5 lakh to 10 lakh - 20 percent tax
#more than 10 lakh - 30 percent tax



#Final = salary - tax

In [ ]:
sal  = int(input("Enter a number:  "))
if  sal>=0 and sal<=200000:
    print("No Tax is Applicable")
elif sal>=200001 and sal<=500000:
    print("10 percent tax applicable")
    tax =sal*0.1
    print(tax)
elif sal>= 500001 and sal<=1000000:
    print("20 percent tax applicable")
    tax = sal*0.2
    print(tax)
else:
    print("30 percent tax applicable")
    tax = sal*0.3
    print(tax)

Enter a number:  12131313
30 percent tax applicable
3639393.9

In [ ]:
def computeTax(sal):
    if  sal>=0 and sal<=200000:
        print("No Tax is Applicable")
        return(0)
    elif sal>=200001 and sal<=500000:
        print("10 percent tax applicable")
        tax =sal*0.1
        return(tax)
    elif sal>= 500001 and sal<=1000000:
        print("20 percent tax applicable")
        tax = sal*0.2
        return(tax)
    else:
        print("30 percent tax applicable")
        tax = sal*0.3
        return(tax)

In [ ]:


for i in range(10):  #range is the number sequence 0 to n -1
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#print all odd characters in string s
s = '012345678903'
for i in range(len(s)):
  if i%2 ==0:
    print(s[i])

0
2
4
6
8
0

In [ ]:
s="addnfkfhgfkfnfnfkf"    #print all characters in a string
for i in range(len(s)):
  print(i," charcater is ",s[i])

0  charcater is  a
1  charcater is  d
2  charcater is  d
3  charcater is  n
4  charcater is  f
5  charcater is  k
6  charcater is  f
7  charcater is  h
8  charcater is  g
9  charcater is  f
10  charcater is  k
11  charcater is  f
12  charcater is  n
13  charcater is  f
14  charcater is  n
15  charcater is  f
16  charcater is  k
17  charcater is  f

In [ ]:
#for a given string s print only odd characters remainder function is %   4%2

In [ ]:
print(4%2)

0

In [ ]:

#can you print the sum of all positive odd integer numbers upto n including n

In [ ]:
#can you print all odd numbers between 0 to n-1
for i in range(15):
    if i%2==1:
        print(i)

#can you print the sum of all positive integer numbers upto n
#1+2+3+4...+n

1
3
5
7
9
11
13

In [ ]:
n = 35
sum = 0
for i in range(1,n+1):
    sum = sum + i
print(sum)

630

In [ ]:
#define a function facto which takes n as input and returns factorial of n
# 1 X 2 X 3 X ...X n
def facto(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

In [ ]:
facto(4)

24

In [ ]:
facto(6)

720

In [ ]:
#given a number n write a function oddFactorial which is product of all
#odd numbers from 1 to n included
def oddFactorial(n):
    result = 1
    for i in range (1,n+1):
        if(i%2 == 1):
            result *= i
    return result

In [ ]:
oddFactorial(3)

3

In [ ]:
# can you given a number return True if it is odd else False isOdd

def isOdd(num=2):  #default invoked when function is invoked without
                                        #arguments
    if num%2 == 1:
        print("Num is Odd")
        return True
    else:
        return False

In [ ]:
isOdd()

False

In [ ]:
computeTax(2000000)

30 percent tax applicable

600000.0

In [ ]:
#income = 3
#if income > 10 then intst is 4
#if income is between 5 and 10 then intst is 2
#if income is between 2 and 5 then intst is 1
#else intst is 0

#Print intst

In [ ]:
n = 5
if (n < 5):
    print("TRUE")
    print("IT is less than five")
elif (n == 5):
    print("it is five")
else:
    print("FALSE")
    print("IT is greater than five")

it is five

In [ ]:

#Write the sum up to n-1 take input n with while

In [ ]:
for i in "Srinivas":
    print(i)
    if (i == 'n'):
        break
print("over")

S
r
i
n
over

In [ ]:

# in a string of digits write the first three odd digits
#024525275
#557
s="123456789"
c=0
for i in range(len(s)):
  if c>=3:
     break;  # 3 odd numbers are done
  if(int(s[i])%2==1):
    print(s[i])
    c=c+1

1
3
5

In [ ]:
for i in "Srinivas":
    if (i == 'n'):
        continue
    print(i)
print("over")

S
r
i
i
v
a
s
over

In [ ]:
#given a string can you print only odd characters
s="0123456789"
for i in range(len(s)):
    if (i%2 !=0):
        continue
    print(s[i])
print("over")

0
2
4
6
8
over

In [ ]:










#can you come up with a logic for determining if a number is prime
#lgic start with 2 explore all factors for n if none found it is prime
import numpy as np
import math
def isPrime(n):
    flag = True
    for i in range(2,math.ceil( np.sqrt(n))):
         if(n%i == 0):
            flag = False
            break
    return flag

In [ ]:
isPrime(23)

True

In [ ]:
for i in range(2,11):
  print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
n=22
for i in range(4,n):
  if i%2==1 :
    continue
  print(i)

4
6
8
10
12
14
16
18
20

In [ ]:
#take two nos low and high
#write all odd nos between low and high both excluded ...use while

In [ ]:
sumOdd(10)

12

In [ ]:
for i in "Srinivas":
    if i == 'i':
        continue  #skips that iteration to next iteration
    print(i)

S
r
n
v
a
s

In [ ]:
n = int(input("Enter a number: "))
for i in range(n):

    if (i%2==0):
        continue

    print(i)

Enter a number: 11
1
3
5
7
9

In [ ]:
def isEven(n):   #function is a reusable code with parameters
  if (n%2==0):
    return True
  else:
    return False

In [ ]:
isEven(32)

True

In [ ]:
x = int(input("enter the number"))  #Find all factors of x
for i in range(1, x):
        if i == 1 :
            continue
        if i > x/2:
            break
        if x % i == 0:
            print(i)

In [ ]:
#for a range of n say 20 print only odd numbers
#skip even numbers with continue

In [ ]:
#Let us say we give n as input
#print all nos form 1 to n
#print all nos upto n/2 using break

n = int(input("Enter a number: "))
for i in range(n):
    if i > n/2:
        break
    print(i)
print("over")

In [ ]:
#Sum to n whith while loop n is input
i=0
sum=0
n=int(input("Enter a number: "))
while i <= n:
    sum = sum + i
    i=i+1
print(sum)

In [ ]:
#Sum to n - 1 whith while loop n is input
i=0
sum=0
n=int(input("Enter a number: "))
while i < n:
    sum = sum + i
    i=i+1
print(sum)
#1 + 2 + ..+ n

In [ ]:
i=0
while i < 10:
    print(i)
    i=i+1

In [ ]:
# This function computes sum up to n - 1
# n is taken as input from user
#sum is intermediate variable carrying the result

sum=0
n = int(input("Enter a number: "))
for i in range(n): #print numbers from 0 to n-1 0
    sum = sum + i
print(sum)